body {
    background: #8B0000; /* Dark red background */
    font-family: Arial, Helvetica, sans-serif;
}

h1 {
    color: #0000FF; /* Blue text */
    text-align: center;
}

.assign {
    display: flex;
    padding: 10px;
    margin: 10px;
    background: #00CED1; /* Dark turquoise background */
}

.assign img {
    width: 200px;
    padding: 10px;
}
