body {
    background: #F6BE00; /* yellow background */
    font-family: Arial, Helvetica, sans-serif;
}

h1 {
    color: #000000; /* Blue text */
    text-align: center;
}

.assign {
    display: flex;
    padding: 10px;
    margin: 10px;
    background: #0000FF; /* Dark turquoise background */
}

.assign img {
    width: 200px;
    padding: 10px;
}
